{% extends 'navi.html' %}

{% block title %}사용자 프로필{% endblock %}

{% block content %}
<div class="flex relative">
    <aside class="w-1/4 bg-gray-200 p-4 rounded">
        <h2 class="text-lg font-bold mb-4">사용자 프로필</h2>
    </aside>
    <!-- 메인 콘텐츠 영역 -->
    <main class="w-3/4 bg-white p-6 rounded shadow-md ml-4">
        <h2 class="text-xl font-bold mb-4">마이페이지</h2>
        <div class="flex mb-4">
            <div class="w-1/4">
                <div class="bg-gray-300 rounded-full h-24 w-24 mb-4"></div>
            </div>
            <div class="w-3/4">
                <div class="flex items-center mb-4">
                    <label for="userid" class="w-1/4 text-gray-700">사용자 ID:</label>
                    <input type="text" id="userid" class="w-3/4 p-2 border border-gray-300 rounded bg-gray-100" value="{{ playdata }}" readonly>
                </div>
                <div class="flex items-center mb-4">
                    <label for="password" class="w-1/4 text-gray-700">사용자 PW:</label>
                    <input type="password" id="password" class="w-3/4 p-2 border border-gray-300 rounded bg-gray-100" value="{{ password }}" readonly>
                    <button type="button" id="togglePassword" class="ml-2 p-1 border border-gray-300 rounded bg-gray-200 text-gray-700">보이기</button>
                </div>
            </div>
        </div>
    </main>

    <!-- 오버레이 추가 -->
    <div id="overlay" class="absolute inset-0 bg-white bg-opacity-90 flex items-center justify-center rounded shadow-lg">
        <div class="text-center">
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h2 class="text-xl font-bold mb-2">페이지 준비중입니다</h2>
                <p class="text-gray-600">현재 페이지는 준비 중입니다.</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const togglePasswordButton = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('password');
        let isPasswordVisible = false;

        togglePasswordButton.addEventListener('click', function() {
            if (isPasswordVisible) {
                passwordInput.type = 'password';
                togglePasswordButton.textContent = '보이기';
            } else {
                passwordInput.type = 'text';
                togglePasswordButton.textContent = '숨기기';
            }
            isPasswordVisible = !isPasswordVisible;
        });
    });
</script>
{% endblock %}